<!-- 
<div class="grid">
  <app-card-pokedex
    *ngFor="let p of pokemonSpecies"
    [id]="p.pokemonId"
    [name]="p.name"
    >
  </app-card-pokedex>
</div>

 -->

<!--We are having issues with the change detection, 
which is why they do not always show up-->
<!--Instead of storing the data in an array,
 we are storing the observable in a variable-->
<!--When we need to show the data, we can use this async pipe, 
which will allow us to use the data in the observable-->

<!--
How would you make this responsive?
 As the screen size changes, 
 the number of columns in the grid should adjust accordingly.
-->
<div class="grid" *ngIf="pokemonSpecies$ | async as mypokemon; 
else loading">
<app-card-pokedex   
  *ngFor="let p of mypokemon" 
  [name] ="p.name"
  [id] ="p.id"
>
</app-card-pokedex>
</div>

<div class="pagination">
  <button (click)="prevPage()">Previous</button>
  <span>Page {{ currentPage }}</span>
  <button (click)="nextPage()">Next</button>
</div>

<ng-template #loading>Loading...</ng-template>