.card {
  
  transition: 0.3s;
  width: 80%; 
  border-radius: 5px; 
  background-color: rgb(240, 232, 232);
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.card img {
  border-radius: 5px 5px 0 0; 
  width: 100%;
  height: auto;
}

.types {
  display: flex;
  margin-top: 20px;
}

.types.single {
  justify-content: center;
}

.types.double {
  justify-content: space-between;
}


.grid {
  padding: 30px 30px;
}






