.card {
  
  transition: 0.3s;
  width: 80%; 
  border-radius: 5px; 
  background-color: rgb(240, 232, 232);
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.card img {
  border-radius: 5px 5px 0 0; 
  width: 100%;
  height: auto;
}

.types {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.types.single { justify-content: center; }
.types.double { justify-content: space-between; }

.type-badge {
  padding: 5px 10px;
  color: rgb(12, 11, 11);
  font-size: 0.85rem; 
}

.type-fire { background-color: #EE8130; }
.type-water { background-color: #6390F0; }
.type-grass { background-color: #7AC74C; }
.type-electric { background-color: #F7D02C; }
.type-normal { background-color: #A8A77A; }
.type-ice { background-color: #96D9D6; }
.type-fighting { background-color: #C22E28; }
.type-poison { background-color: #A33EA1; }
.type-ground { background-color: #E2BF65; }
.type-flying { background-color: #A98FF3; }
.type-psychic { background-color: #F95587; }
.type-bug { background-color: #A6B91A; }
.type-rock { background-color: #B6A136; }
.type-ghost { background-color: #735797; }
.type-dragon { background-color: #6F35FC; }
.type-dark { background-color: #705746; }
.type-steel { background-color: #B7B7CE; }
.type-fairy { background-color: #D685AD; }








